*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.app{ 
  display: flex;
  align-items: center;
  justify-content: center;
  min-height:100vh;
  background-color: rgb(31, 33, 67);
  color:#fff;
}

.input i, .items .item-right i{ 
  color:grey;
  cursor: pointer;
  margin-left: 10px;
}